@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: theme('fontFamily.sans');
    background-color: #f9fafb;
  }
}

@layer utilities {
  @media print {
    .no-print {
      display: none !important;
    }
    .print-only {
      display: block !important;
    }
    body {
      background: #ffffff;
      color: #000000;
    }
  }
}
